.card-container {

}
.top-line {
  border-top: 1px solid black;
  padding-top: .5em;
}
.card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 700;
  font-size: 110%;
}

.card-subtitle {
  font-weight: 500;
  font-size: 100%;
  margin-bottom: .5em;
}

.card-desc {
  font-family: "Roboto", "Open Sans", "Century Gothic", CenturyGothic, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, 华文细黑, STXihei, 黑体, SimHei, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}