strong {
  color: red;
}

.full-name {
  font-size: 200%;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
  margin: 0;
  font-family: "Roboto"
}

#profile {
  text-align: center;
  padding-bottom: 1px;
  border-bottom: 1px solid black;
  #vcard {
    padding-bottom: 1.5em;
    border-bottom: 4px solid black;
  }
}

.header-container {
  border-bottom: 2px solid black;
  padding-bottom: 2px;
  margin-bottom: 1.5em;
  .header-text {
    border-bottom: 4px solid black;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 125%;
    font-family: "Roboto"
  }
}
